# Crime Trail Blazers

In [111]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [112]:
# Name of the CSV file
file15 = 'Resources/2015_Portland_Crime_Data.csv'
file16 = 'Resources/2016_Portland_Crime_Data.csv'
file17 = 'Resources/2017_Portland_Crime_Data.csv'
file18 = 'Resources/2018_Portland_Crime_Data.csv'
file19 = 'Resources/2019YTD_Portland_Crime_Data.csv'
nba_data ='Resources/portland.games.stats.csv'
#port_home = "Resources/port_home.csv"

In [113]:
# The correct encoding must be used to read the CSV in pandas
df_2015 = pd.read_csv(file15, encoding="ISO-8859-1")
df_2016 = pd.read_csv(file16, encoding="ISO-8859-1")
df_2017 = pd.read_csv(file17, encoding="ISO-8859-1")
df_2018 = pd.read_csv(file18, encoding="ISO-8859-1")
df_2019 = pd.read_csv(file18, encoding="ISO-8859-1")
nba_data = pd.read_csv(nba_data, encoding="ISO-8859-1")

In [114]:
df_2015["OffenseCategory"].count()

37672

## Portland Trailblazers Stats 2015-18

In [115]:
nba_data.head()

,Unnamed: 0,Team,Game,Date,Home,Opponent,WINorLOSS,TeamPoints,OpponentPoints,FieldGoals,...,Opp.FreeThrows,Opp.FreeThrowsAttempted,Opp.FreeThrows.,Opp.OffRebounds,Opp.TotalRebounds,Opp.Assists,Opp.Steals,Opp.Blocks,Opp.Turnovers,Opp.TotalFouls
0,1108,POR,1,10/29/2014,Home,OKC,W,106,89,39,...,21,26,0.808,14,43,19,9,5,13,28
1,2108,POR,2,10/31/2014,Away,SAC,L,94,103,34,...,31,35,0.886,14,49,14,6,2,10,24
2,3108,POR,3,11/2/2014,Home,GSW,L,90,95,37,...,17,21,0.810,7,41,22,11,7,17,16
3,4108,POR,4,11/4/2014,Home,CLE,W,101,82,37,...,11,14,0.786,13,41,18,5,3,14,19
4,5108,POR,5,11/6/2014,Home,DAL,W,108,87,40,...,16,16,1.000,8,34,14,6,4,7,17

In [116]:
# add Day of Week
nba_data['DOW']= pd.to_datetime(nba_data['Date']).dt.dayofweek

In [117]:
# Change date format and reduce dates to 2015 - 2018
nba_data['Date'] = pd.to_datetime(nba_data['Date'])
start_date = '01/01/2015'
end_date = '12/31/2018'
mask = (nba_data['Date'] >= start_date) & (nba_data['Date'] <= end_date)
nba_data = nba_data.loc[mask]

In [118]:
# Created a new dataframe using the data_df to display these columns:
new_nba_df = nba_data[['Date','Team','Game','Home','WINorLOSS', 'DOW']] 
new_nba_df.head()

         Date Team  Game  Home WINorLOSS  DOW
33 2015-01-03  POR    34  Home         L    5
34 2015-01-05  POR    35  Home         W    0
35 2015-01-08  POR    36  Home         W    3
36 2015-01-10  POR    37  Home         W    5
37 2015-01-11  POR    38  Away         W    6

In [119]:
home_blazers_df = new_nba_df.loc[new_nba_df["Home"] == "Home"].reset_index(drop=True)
home_blazers_df.head()

        Date Team  Game  Home WINorLOSS  DOW
0 2015-01-03  POR    34  Home         L    5
1 2015-01-05  POR    35  Home         W    0
2 2015-01-08  POR    36  Home         W    3
3 2015-01-10  POR    37  Home         W    5
4 2015-01-14  POR    39  Home         L    2

## Crime Data

In [120]:
# Concatinate all crime data
concat_crime_df = pd.concat([df_2015, df_2016, df_2017, df_2018, df_2019])
concat_crime_df

,Address,CaseNumber,CrimeAgainst,Neighborhood,OccurDate,OccurTime,OffenseCategory,OffenseType,OpenDataLat,OpenDataLon,OpenDataX,OpenDataY,ReportDate,OffenseCount
0,NaN,15-X197430,Person,Piedmont,5/12/2015,1400,Assault Offenses,Intimidation,NaN,NaN,NaN,NaN,5/12/2015,1
1,NaN,15-X4282999,Person,Buckman West,5/1/2015,2143,Assault Offenses,Simple Assault,NaN,NaN,NaN,NaN,5/1/2015,1
2,NaN,15-X4283033,Person,University Park,5/1/2015,1625,Assault Offenses,Simple Assault,NaN,NaN,NaN,NaN,5/1/2015,1
3,NaN,15-X4283218,Person,Madison South,5/1/2015,1820,Assault Offenses,Simple Assault,NaN,NaN,NaN,NaN,5/1/2015,1
4,NaN,15-X4283218,Person,Madison South,5/1/2015,1820,Kidnapping/Abduction,Kidnapping/Abduction,NaN,NaN,NaN,NaN,5/1/2015,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60383,WB MORRISON BRG AT / MIDSPAN,18-271693,Society,NaN,5/7/2018,1256,Drug/Narcotic Offenses,Drug/Narcotic Violations,45.517829,-122.669591,7646055.0,682354.0,5/7/2018,1
60384,WB STEEL BRG AT / WESTEND,18-250912,Person,NaN,7/25/2018,1837,Assault Offenses,Simple Assault,45.526938,-122.670482,7645916.0,685680.0,7/25/2018,1
60385,WB SUNSET HWY AT / ZOO EXIT,18-337612,Property,Arlington Heights,10/2/2018,1531,Vandalism,Vandalism,45.506762,-122.713121,7634791.0,678623.0,10/2/2018,1
60386,WILLAMETTE RIVER EB AT / STEEL BRG,18-66676,Property,NaN,2/27/2018,730,Larceny Offenses,All Other Larceny,45.527839,-122.668526,7646426.0,685995.0,2/27/2018,1
60387,WILLAMETTE RIVER EB AT / STEEL BRG,18-348198,Property,NaN,10/9/2018,1200,Larceny Offenses,All Other Larceny,45.527839,-122.668526,7646426.0,685995.0,10/11/2018,1

In [121]:
# add Day of Week
concat_crime_df['DOW']= pd.to_datetime(concat_crime_df['OccurDate']).dt.dayofweek

In [122]:
# Created a new dataframe using the data_df to display these columns:
new_crime_df = concat_crime_df[['OccurDate','Neighborhood','OffenseCategory','DOW']]

In [123]:
# Rename date field
new_crime_df = new_crime_df.rename(columns={"OccurDate":"Date"})
new_crime_df.head()

        Date     Neighborhood       OffenseCategory  DOW
0  5/12/2015         Piedmont      Assault Offenses    1
1   5/1/2015     Buckman West      Assault Offenses    4
2   5/1/2015  University Park      Assault Offenses    4
3   5/1/2015    Madison South      Assault Offenses    4
4   5/1/2015    Madison South  Kidnapping/Abduction    4

In [124]:
# Filter out reports of crimes prior to 2015
new_crime_df['Date'] = pd.to_datetime(new_crime_df['Date'])
start_date = '01/01/2015'
end_date = '12/31/2018'
mask = (new_crime_df['Date'] >= start_date) & (new_crime_df['Date'] <= end_date)
new_crime_df = new_crime_df.loc[mask]
new_crime_df

            Date       Neighborhood         OffenseCategory  DOW
0     2015-05-12           Piedmont        Assault Offenses    1
1     2015-05-01       Buckman West        Assault Offenses    4
2     2015-05-01    University Park        Assault Offenses    4
3     2015-05-01      Madison South        Assault Offenses    4
4     2015-05-01      Madison South    Kidnapping/Abduction    4
...          ...                ...                     ...  ...
60383 2018-05-07                NaN  Drug/Narcotic Offenses    0
60384 2018-07-25                NaN        Assault Offenses    2
60385 2018-10-02  Arlington Heights               Vandalism    1
60386 2018-02-27                NaN        Larceny Offenses    1
60387 2018-10-09                NaN        Larceny Offenses    1

[274298 rows x 4 columns]

In [125]:
# Create new dataframe specific to Date and Days of week
df_dow = new_crime_df[["Date", "DOW"]]

In [126]:
# Run for loop to count number of crimes for each date
unique_dates = list(df_dow["Date"].unique())

listy = []
for i in unique_dates:
    holdy = df_dow.loc[df_dow["Date"] == i].reset_index(drop=True)
    holdy1 = holdy["Date"].count()
    holder_dictionary = {"Date": i,
                         "Num_times": holdy1,
                         "DOW": holdy["DOW"][0]}
    listy.append(holder_dictionary)

In [127]:
# Create datafrom of the daily crime count
crime_count_df = pd.DataFrame(listy)
crime_count_df

           Date  Num_times  DOW
0    2015-05-12        161    1
1    2015-05-01        196    4
2    2015-05-02        176    5
3    2015-05-03        130    6
4    2015-05-04        143    0
...         ...        ...  ...
1443 2018-12-28        276    4
1444 2018-12-29        226    5
1445 2018-12-30        242    6
1446 2018-12-31        176    0
1447 2015-01-14          2    2

[1448 rows x 3 columns]

In [128]:
# Export the crime count into a csv
crime_count_df.to_csv('Output/total_daily_crime_count.csv')

## Trail Blazers and Crime Data

In [129]:
# Merge Trail Blazer and Crime Data
merge_table = pd.merge(new_crime_df, new_nba_df, on="Date", how="left")

In [130]:
# Computer the AverageDailyCrimes for Day Types for each Day of Week
merge_table["HasGame"] = merge_table['Game'] > 0
merge_table["GameStatus"] = merge_table["Home"] + merge_table["WINorLOSS"] 
merge_table["GameStatus"] = merge_table["GameStatus"].fillna('NoGame')
merge_table

,Date,Neighborhood,OffenseCategory,DOW_x,Team,Game,Home,WINorLOSS,DOW_y,HasGame,GameStatus
0,2015-05-12,Piedmont,Assault Offenses,1,NaN,NaN,NaN,NaN,NaN,False,NoGame
1,2015-05-01,Buckman West,Assault Offenses,4,NaN,NaN,NaN,NaN,NaN,False,NoGame
2,2015-05-01,University Park,Assault Offenses,4,NaN,NaN,NaN,NaN,NaN,False,NoGame
3,2015-05-01,Madison South,Assault Offenses,4,NaN,NaN,NaN,NaN,NaN,False,NoGame
4,2015-05-01,Madison South,Kidnapping/Abduction,4,NaN,NaN,NaN,NaN,NaN,False,NoGame
...,...,...,...,...,...,...,...,...,...,...,...
274293,2018-05-07,NaN,Drug/Narcotic Offenses,0,NaN,NaN,NaN,NaN,NaN,False,NoGame
274294,2018-07-25,NaN,Assault Offenses,2,NaN,NaN,NaN,NaN,NaN,False,NoGame
274295,2018-10-02,Arlington Heights,Vandalism,1,NaN,NaN,NaN,NaN,NaN,False,NoGame
274296,2018-02-27,NaN,Larceny Offenses,1,POR,61.0,Home,W,1.0,True,HomeW
274297,2018-10-09,NaN,Larceny Offenses,1,NaN,NaN,NaN,NaN,NaN,False,NoGame

In [131]:
grouped_table = merge_table.groupby(['DOW_x', 'GameStatus']).agg(
    {'OffenseCategory':'count',
     'Date':'nunique'
    }
)
grouped_table['AverageDailyCrimes'] = grouped_table['OffenseCategory']/grouped_table['Date']
grouped_table

                  OffenseCategory  Date  AverageDailyCrimes
DOW_x GameStatus
0     AwayL                  2774    17          163.176471
      AwayW                  1723     8          215.375000
      HomeL                   571     4          142.750000
      HomeW                   992     8          124.000000
      NoGame                33073   170          194.547059
1     AwayL                  1825     8          228.125000
      AwayW                  1790     8          223.750000
      HomeL                  1591     9          176.777778
      HomeW                  2567    14          183.357143
      NoGame                31307   167          187.467066
2     AwayL                  2857    18          158.722222
      AwayW                   715     6          119.166667
      HomeL                  1035     8          129.375000
      HomeW                  3120    20          156.000000
      NoGame                31926   155          205.974194
3     AwayL                  1183     8          147.875000
      AwayW                   187     1          187.000000
      HomeL                  1026     7          146.571429
      HomeW                  3182    18          176.777778
      NoGame                33815   173          195.462428
4     AwayL                  2230    15          148.666667
      AwayW                  2305    12          192.083333
      HomeL                  1372     7          196.000000
      HomeW                  2040    11          185.454545
      NoGame                33812   163          207.435583
5     AwayL                  1167     9          129.666667
      AwayW                  1851    10          185.100000
      HomeL                  1081     7          154.428571
      HomeW                  3180    20          159.000000
      NoGame                31932   160          199.575000
6     AwayL                  1565     9          173.888889
      AwayW                  2054    16          128.375000
      HomeL                   826     6          137.666667
      HomeW                  1409     7          201.285714
      NoGame                30215   169          178.786982

In [132]:
# Export Day of Week Crime count
grouped_table.to_csv('Output/day_of_week_inseason.csv')