# Crime Trail Blazers

In [1]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Name of the CSV file
file15 = 'Resources/2015_Portland_Crime_Data.csv'
file16 = 'Resources/2016_Portland_Crime_Data.csv'
file17 = 'Resources/2017_Portland_Crime_Data.csv'
file18 = 'Resources/2018_Portland_Crime_Data.csv'
nba_data ='Resources/portland.games.stats.csv'

In [3]:
# The correct encoding must be used to read the CSV in pandas
df_2015 = pd.read_csv(file15, encoding="ISO-8859-1")
df_2016 = pd.read_csv(file16, encoding="ISO-8859-1")
df_2017 = pd.read_csv(file17, encoding="ISO-8859-1")
df_2018 = pd.read_csv(file18, encoding="ISO-8859-1")
nba_data = pd.read_csv(nba_data, encoding="ISO-8859-1")

## Portland Trailblazers Stats 2015-19

In [4]:
nba_data.head()

,Unnamed: 0,Team,Game,Date,Home,Opponent,WINorLOSS,TeamPoints,OpponentPoints,FieldGoals,...,Opp.FreeThrows,Opp.FreeThrowsAttempted,Opp.FreeThrows.,Opp.OffRebounds,Opp.TotalRebounds,Opp.Assists,Opp.Steals,Opp.Blocks,Opp.Turnovers,Opp.TotalFouls
0,3424,POR,34,1/3/2015,Home,ATL,L,107,115,42,...,23,31,0.742,10,46,17,9,5,14,15
1,3524,POR,35,1/5/2015,Home,LAL,W,98,94,33,...,16,20,0.800,11,49,20,5,0,10,20
2,3624,POR,36,1/8/2015,Home,MIA,W,99,83,40,...,22,30,0.733,10,42,15,6,7,9,13
3,3724,POR,37,1/10/2015,Home,ORL,W,103,92,36,...,15,20,0.750,17,49,22,10,0,16,22
4,3824,POR,38,1/11/2015,Away,LAL,W,106,94,41,...,15,19,0.789,7,45,29,2,4,13,22

In [22]:
# Change date format for later merge
nba_data['Date'] = pd.to_datetime(nba_data['Date'])
nba_data.head()

,Unnamed: 0,Team,Game,Date,Home,Opponent,WINorLOSS,TeamPoints,OpponentPoints,FieldGoals,...,Opp.FreeThrows,Opp.FreeThrowsAttempted,Opp.FreeThrows.,Opp.OffRebounds,Opp.TotalRebounds,Opp.Assists,Opp.Steals,Opp.Blocks,Opp.Turnovers,Opp.TotalFouls
0,3424,POR,34,2015-01-03,Home,ATL,L,107,115,42,...,23,31,0.742,10,46,17,9,5,14,15
1,3524,POR,35,2015-01-05,Home,LAL,W,98,94,33,...,16,20,0.800,11,49,20,5,0,10,20
2,3624,POR,36,2015-01-08,Home,MIA,W,99,83,40,...,22,30,0.733,10,42,15,6,7,9,13
3,3724,POR,37,2015-01-10,Home,ORL,W,103,92,36,...,15,20,0.750,17,49,22,10,0,16,22
4,3824,POR,38,2015-01-11,Away,LAL,W,106,94,41,...,15,19,0.789,7,45,29,2,4,13,22

In [24]:
# Created a new dataframe using the data_df to display columns these columns:
new_nba_df = nba_data[['Team','Game','Date','Home',"WINorLOSS"]] 
new_nba_df.head()

  Team  Game       Date  Home WINorLOSS
0  POR    34 2015-01-03  Home         L
1  POR    35 2015-01-05  Home         W
2  POR    36 2015-01-08  Home         W
3  POR    37 2015-01-10  Home         W
4  POR    38 2015-01-11  Away         W

In [7]:
# Reset date format and convert
# new_blazers_df ['Date'] = pd.to_datetime(blazers_df['Date']).dt.date
# new_blazers_df.head()

In [8]:
# # Convert date to readable for days of week
# blazers_df['Date'] = pd.to_datetime(blazers_df['Date'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d')
# blazers_df

In [9]:
# # Add day of week
# blazers_df['dow']= pd.to_datetime(blazers_df['Date']).dt.dayofweek
# blazers_df.head()

## Crime Data

In [25]:
# Concatinate all crime data
concat_crime_df = pd.concat([df_2015, df_2016, df_2017, df_2018])
concat_crime_df.head()

,Address,CaseNumber,CrimeAgainst,Neighborhood,OccurDate,OccurTime,OffenseCategory,OffenseType,OpenDataLat,OpenDataLon,OpenDataX,OpenDataY,ReportDate,OffenseCount
0,NaN,15-X197430,Person,Piedmont,5/12/2015,1400,Assault Offenses,Intimidation,NaN,NaN,NaN,NaN,5/12/2015,1
1,NaN,15-X4282999,Person,Buckman West,5/1/2015,2143,Assault Offenses,Simple Assault,NaN,NaN,NaN,NaN,5/1/2015,1
2,NaN,15-X4283033,Person,University Park,5/1/2015,1625,Assault Offenses,Simple Assault,NaN,NaN,NaN,NaN,5/1/2015,1
3,NaN,15-X4283218,Person,Madison South,5/1/2015,1820,Assault Offenses,Simple Assault,NaN,NaN,NaN,NaN,5/1/2015,1
4,NaN,15-X4283218,Person,Madison South,5/1/2015,1820,Kidnapping/Abduction,Kidnapping/Abduction,NaN,NaN,NaN,NaN,5/1/2015,1

In [27]:
# Delete extraneous column
del concat_crime_df['Address']
del concat_crime_df['CaseNumber']
del concat_crime_df['CrimeAgainst']
del concat_crime_df['OccurTime']
del concat_crime_df['OffenseCategory']
del concat_crime_df['OpenDataLat']
del concat_crime_df['OpenDataLon']
del concat_crime_df['OpenDataX']
del concat_crime_df['OpenDataY']
del concat_crime_df['ReportDate']
del concat_crime_df['OffenseCount']
concat_crime_df.head()

      Neighborhood  OccurDate           OffenseType
0         Piedmont  5/12/2015          Intimidation
1     Buckman West   5/1/2015        Simple Assault
2  University Park   5/1/2015        Simple Assault
3    Madison South   5/1/2015        Simple Assault
4    Madison South   5/1/2015  Kidnapping/Abduction

In [28]:
# Rename date field
concat_crime_df = concat_crime_df.rename(columns={"OccurDate":"Date"})
concat_crime_df.head()

      Neighborhood       Date           OffenseType
0         Piedmont  5/12/2015          Intimidation
1     Buckman West   5/1/2015        Simple Assault
2  University Park   5/1/2015        Simple Assault
3    Madison South   5/1/2015        Simple Assault
4    Madison South   5/1/2015  Kidnapping/Abduction

In [13]:
# Add day of week
# concat_crime['dow']= pd.to_datetime(concat_crime['OccurDate']).dt.dayofweek
# concat_crime.head()

In [29]:
# Filter out reports of crimes prior to 2015
concat_crime_df['Date'] = pd.to_datetime(concat_crime_df['Date'])
start_date = '01/01/2015'
end_date = '12/31/2018'
mask = (concat_crime_df['Date'] > start_date) & (concat_crime_df['Date'] <= end_date)
concat_crime_df = concat_crime_df.loc[mask]
concat_crime_df

            Neighborhood       Date               OffenseType
0               Piedmont 2015-05-12              Intimidation
1           Buckman West 2015-05-01            Simple Assault
2        University Park 2015-05-01            Simple Assault
3          Madison South 2015-05-01            Simple Assault
4          Madison South 2015-05-01      Kidnapping/Abduction
...                  ...        ...                       ...
60383                NaN 2018-05-07  Drug/Narcotic Violations
60384                NaN 2018-07-25            Simple Assault
60385  Arlington Heights 2018-10-02                 Vandalism
60386                NaN 2018-02-27         All Other Larceny
60387                NaN 2018-10-09         All Other Larceny

[213985 rows x 3 columns]

In [39]:
crime_rates_df = concat_crime_df['Date'].value_counts()
crime_rates_df['Crimes'] = concat_crime_df.groupby(['Date'])['Neighborhood'].transform(len)
crime_rates_df.head()

2016-11-10    284
2015-10-31    232
2018-08-01    232
2017-12-01    225
2016-07-01    224
Name: Date, dtype: object

## Merge Trail Blazers and Crime Data

In [41]:
combined_df = pd.merge(blazers_df, crime_rates_df, on = 'Date')
combined_df.head()

ValueError: You are trying to merge on datetime64[ns] and object columns. If you wish to proceed you should use pd.concat